.passion_content {
    display: grid;
}

.passioncards {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
}

.passion_card {
    border: 1px solid var(--color-bg-variant3);
    border-radius: 2rem;
    padding: 1.5rem;
    background: var(--color-bg-variant2);
    text-align: center;
}

.passion_card:hover {
    background: transparent;
}

.passionIcon {
    display: inline;
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
}

h5.cardp {
    color: var(--color-bg-variant3);
    font-size: 1.5rem;
}

/* Medium */
@media screen and (max-width:700px) {
    .scroll_down {
        display: none;
    }

    .passioncards {
        display: grid;
        grid-template-columns: 100%;
    }

    .passion_card {
        border: 1px solid var(--color-bg-variant3);
        border-radius: 2rem;
        padding: 1.5rem;
        background: var(--color-bg-variant2);
        text-align: center;
    }

    #passion {
        margin-top: 4rem;
        height: 100vh;
    }
}