header a.is-active {
    background: #ffffff !important;
    color: #000000 !important;
    border-radius: 9999px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    transition: all 1s ease;
}

.nav-link {
    transition: all 1s ease;
}

.nav-transparent {
    background-color: rgba(90, 50, 179, 0.2);
    backdrop-filter: blur(6px);
    box-shadow: none;
}

@keyframes fadeInUp {
    from {
    opacity: 0;
    transform: translateY(12px);
    }

    to {
    opacity: 1;
    transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}